@use 'base/_imports.scss' as *;

.the-quip-form {
	textarea {
		width: 100%;
		height: rem(120px);
		font-size: rem(16px);
		padding: rem(10px);
		box-sizing: border-box;
		border-radius: rem(8px);
	}
}
