{% extends 'base.twig' %}

{% block content %}

	<article class="the-page">
		{% if the_title %}
			<h1 class="the-title">
				{{ the_title }}
			</h1>
		{% endif %}

		<section class="the-content wysiwyg">
			<form action="#" method="POST">
				 <p class="counter" id="the-character-count">0</p>
				<textarea name="content" id="the-quip"></textarea>

				{{ the_nonce_field }}
				<input type="submit" value="Post">
			</form>
		</section>
	</article>

{% endblock %}
